#mail{color: white;text-decoration: underline;}

#section1 {padding-top:50px;height:600px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:600px;color: #fff; background-color: #673ab7;}